<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Ошибка 404</title>
</head>
<body>
<section layout:fragment="content">
    <div class="container">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="starter-template text-center">
                <h2>Кажется что-то пошло не так...</h2>
                <a class="btn btn-lg btn-default"
                   href="/" role="button"><span class="glyphicon glyphicon-home"></span> Перейти на главную страницу</a>
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</section>
</body>
</html>